nav {
	font-family: Poppins, Arial, serif;
}

#locamotive-nav {
	font-size: 25px;
	vertical-align: center;
	margin-right: 700px;
}

.nav-item {
	font-size: 13px;
	vertical-align: center;
	padding-right: 5px;
	padding-left: 10px;
}
