.login-notice {
	font-family: Poppins, Arial, serif;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.login-notice a {
	color: #e2c0bb;
}

.sharing-content {
	font-family: Poppins, Arial, serif;
	margin: 0 auto;
	width: 100%;
	padding: 30px;
	text-align: center;
}

.sharingbox-header {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
}

.sharingbox-header h2 {
	font-family: Poppins, Arial, serif;
	font-size: 40px;
}

.form-share {
	font-family: Poppins, Arial, serif;
	padding: 5px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form-share label {
	width: 300px;
	font-size: 18px;
	padding: 10px;
}

.form-share input {
	height: 30px;
	border: solid #e2c0bb;
	width: 400px;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
}

#descriptionBox {
	height: 70px;
	width: 400px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-trip-btn {
  border: solid white;
  background-color: #e2c0bb;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  height: 30px;
  width: 120px;
  text-align: center;
  color: white;
  margin-right: 70px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;  
  left: 0;
  top: 0;
  opacity: 0;
}

#cancel-btn {
	font-size: 13px;
	margin: 15px;
	height: 30px;
	width: 120px;
	text-align: center;
	background-color: #abb5c4; 
	border: solid white;
	color: white;
}

#publish-trip {
	font-size: 13px;
	margin: 20px;
	height: 30px;
	width: 120px;
	text-align: center;
	background-color: #e2c0bb; 
	border: solid white;
	color: white;
}