#empty-notice {
	font-family: Poppins, Arial, serif;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.notrip-notice a {
	color: #e2c0bb;
}

.trip-box {
	font-family: Poppins, Arial, serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	background-color: #f5f5f5;
	width: 1200px;
	padding: 10px;
	margin-bottom: 35px;
}

.trip-box:hover {
	background-color: #e2c0bb;
}

.trip-box span {
	font-size: 16px;
	margin: 10px;
	padding: 5px;
}

.arrow {
	width: 20px;
	padding-left: 5px;
	padding-right: 5px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.arrow:hover {
	width: 20px;
	padding-left: 0px;
	padding-right: 0px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#vote {
	margin-right: 0px;
}

#vote-score {
	margin-left: 0px;
	padding: 0px;
}


/* The main content

.main-content {
  max-width: 600px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
} 

.trip {
	border: 5px solid #ececec;
	background-image: url('browse-back.jpg');
	padding: 10px 20px;
	margin: 0px 0px 20px 0px;
	max-height: 300px;
	max-width: 1500px;
	margin: auto;
}

.trip:hover {
	
	background-color: #3a3a3a;
}

.trip-img {
 	width: 100%;
 	max-height: 500px;
 	color:#fff;
 	background-repeat:no-repeat;
 	background-attachment:scroll;
	background-position:center center; 
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	background-size:cover; 
	-o-background-size:cover;
}

.trip-title {
	color: #52b859;
	font-size: 40px;
	margin: 0px 0px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.meta {
	color: #fff;	
	font-size: 18px;
	font-weight: 900;
}

.trip-desc {
	color: #bcbcbc;
	font-size: 18px;
    line-height: 1.8;
}

.arrow {
	margin: auto;
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.arrow:hover {
	width: 50px;
	padding-left: 0px;
	padding-right: 0px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

#info {
	padding-left: 20px;
}

#vote {
	padding: 10px 20px;
}

#score {
	padding-left: 48px;
}

.count {
	padding-right: 32px;
	padding-top: 0px;
	margin-top: 0px;
}
*/